// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$post: '.post';
$post-title: #{$post}-title;
$post-category: #{$post}-category;
$post-dek: #{$post}-dek;
$post-credits: #{$post}-credits;


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$post-title},
#{$post-category} {
    text-align: center;
}

#{$post-title} {
    margin: 0;
    margin-bottom: rem( 20 );

    font-family: getFont( display );
    font-size: rem( 36 );

    @media ( min-width: 600px ) {
        font-size: rem( 48 );
    }

    @media ( min-width: 768px ) {
        margin-bottom: rem( 30 );

        font-size: rem( 62 );
        letter-spacing: rem( 1.75 );
    }
}

#{$post-category},
#{$post-dek},
#{$post-credits} {
    font-size: rem( 14 );
    line-height: 1.5;
}

#{$post-category} {
    margin: 0;
    margin-bottom: rem( 20 );

    text-transform: uppercase;
    letter-spacing: rem( 1.5 );

    @media ( min-width: 768px ) {
        margin-bottom: rem( 30 );
    }
}

#{$post-dek} {
    text-align: center;
}

#{$post-credits} {
    @include clearfix;
    @include size( 100% auto );
    @include set( margin padding, 0 );

    list-style: none;

    &__item {
        @media ( min-width: 768px ) {
            @include size( 50% auto );

            float: left;

            &:nth-child( 2n - 1 ) {
                padding-right: rem( 20 );
            }

            &:nth-child( 2n + 1 ) {
                clear: left;
            }
        }
    }
}