// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$post: '.post';
$post-title: #{$post}-title;
$post-category: #{$post}-category;
$post-dek: #{$post}-dek;


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$post-title},
#{$post-category} {
    text-align: center;
}

#{$post-title} {
    margin: 0;
    margin-bottom: rem( 20 );

    font-family: getFont( display );
    font-size: rem( 36 );

    @media ( min-width: 600px ) {
        font-size: rem( 48 );
    }

    @media ( min-width: 768px ) {
        margin-bottom: rem( 30 );

        font-size: rem( 62 );
        letter-spacing: rem( 1.75 );
    }
}

#{$post-category},
#{$post-dek} {
    font-size: rem( 14 );
    line-height: 1.5;
}

#{$post-category} {
    margin: 0;
    margin-bottom: rem( 20 );

    text-transform: uppercase;
    letter-spacing: rem( 1.5 );

    @media ( min-width: 768px ) {
        margin-bottom: rem( 30 );
    }
}

#{$post-dek} {
    text-align: center;
}