// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$post-preview: '.post-preview';

$card-aspect: 5 4;


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$post-preview} {
    @include size( auto );
    @include span( 12 of 12 );
    @include position( relative );

    margin-bottom: rem( 30 ); /// TEMP
    padding-top: applyAspect( $card-aspect, 100% ); /// TODO - Update `applyAspect` call to be more clear/explicit.

    // Media queries
    @media ( min-width: 480px ) and ( max-width: 767px ) {
        @include span( 6 of 12 );

        padding-top: applyAspect( $card-aspect, span( 6 of 12 ) ); /// TODO - Update `applyAspect` call to be more clear/explicit.

        &:nth-child( 2n ) {
            @include last;
        }
    }

    @media ( min-width: 768px ) {
        @include span( 4 of 12 );

        padding-top: applyAspect( $card-aspect, span( 4 of 12 ) ); /// TODO - Update `applyAspect` call to be more clear/explicit.

        &:nth-child( 3n ) {
            @include last;
        }
    }
}

#{$post-preview}__image {
    @include size( 100% );
    @include position( absolute, 0 0 0 0 );

    background-image: url( 'https://placeholdit.imgix.net/~text?txtsize=48&txt=PREVIEW%20IMAGE&w=600&h=600' );
    background-position: center;
    background-size: cover;
}

#{$post-preview}__content {
    @include size( 100% );
    @include display( block );
    @include position( absolute, 0 0 0 0 );

    padding: rem( 30 );

    text-align: center;
}