// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$footer: '.footer';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$footer} {
    @include size( 100% auto );
}


#{$footer}__inner {
    @extend %__grid--base;

    @include display( flex );
    @include justify-content( space-between );
    @include descendant( first ) {
        margin-right: auto;
    }
    @include descendant( last ) {
        margin-left: auto;
    }

    border-top: rem( 1 ) solid getColor( black );
    padding: rem( 15 ) 0 rem( 40 );
}


#{$footer}-list {
    @include set( margin padding, 0 );

    list-style: none;

    // Media
    @media ( max-width: 599px ) {
        text-align: right;
    }
}


#{$footer}-list__item {
    @include display( block );

    padding: rem( 3 ) 0;
    font-size: rem( 14 );

    // Media queries
    @media ( min-width: 600px ) {
        @include display( inline-block );

        margin: 0 rem( 10 );
        padding: rem( 5 );

        &:first-child {
            @include set( margin-left padding-left, 0 );
        }

        &:last-child {
            @include set( margin-right padding-right, 0 );
        }
    }
}