// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$color: '.color';
$margin: '.margin';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$color}--white {
    color: getColor( white ) !important;
}

#{$margin} {
    &--0 {
        margin: 0 !important;
    }
}