// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$index-hero: '.index-hero';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$index-hero} {
    @include size( 100% 100vh );
    @include min-size( 100% rem( 600 ) );
    @include position( relative );
}

#{$index-hero}__image {
    @include size( 100% );
    @include position( absolute, 0 0 0 0 );
}

#{$index-hero}__image__foreground,
#{$index-hero}__image__midground,
#{$index-hero}__image__background, {
    @include size( 100% );
    @include position( absolute, 0 0 0 0 );

    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#{$index-hero}__content {
    @include size( 100% );
    @include position( absolute, 0 0 0 0 );

    padding-top: rem( 200 );
    padding-bottom: rem( 100 );

    text-align: center;

    & > * {
        margin: 0;
    }
}

#{$index-hero}__cta {
    @include size( rem( 40 ) );
    @include display( block );
    @include position( absolute, null null rem( 30 ) 50% );
    @include transform( translateX( -50% ) );
    @include transition( all 0.2s );

    @include on( hover focus ) {
        bottom: rem( 33 );
        opacity: 0.7;
        cursor: pointer;
    }

    @include pseudo( before ) {
        @include size( 50% )
        @include position( absolute, 50% null null 50% );
        @include transform( translate( -50%, -75% ) rotate( 45deg ) );
        @include set( border-right border-bottom, rem( 2 ) solid getColor( grey ) );

        content: '';
        display: block;
    }
}

#{$index-hero}-text {
    @include size( 100% auto );
    @include position( absolute, 50% null null 0 );
    @include transform( translateY( -50% ) );
    @include set( padding-left padding-right, rem( 20 ) );
}