// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$post: '.post';
$post-hero: #{$post}-hero;
$post-header: #{$post}-header;
$post-body: #{$post}-body;


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$post-hero} {
    img {
        @include size( 100% auto );
    }
}

#{$post-header} {
    @include max-size( rem( 800 ) auto );

    margin: 0 auto;

    @media ( min-width: 768px ) {
        padding-top: rem( 25 );
    }
}

#{$post-body} {
    padding-top: rem( 35 );

    @media ( min-width: 768px ) {
        padding-top: rem( 75 );
    }
}

#{$post-body} img {
    @include display( block );
    @include set( margin-top margin-bottom, rem( 20 ) );

    &:first-child {
        margin-top: 0;
    }

    // Media queries
    @media ( min-width: 768px ) {
        @include set( margin-top margin-bottom, rem( 40 ) );
    }

    // Supplementary classes
    &.full-bleed {
        @include size( 100vw auto );
        @include max-size( 100vw auto );

        margin-left: calc((50vw - 50%)*-1);
    }
}