// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$nav: '.nav';
$logo: '.logo';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$nav} {
    @include size( 100% rem( 50 ) );
    @include position( absolute, 0 null null 0 );
    z-index: 99999;
}


#{$nav}__inner {
    @extend %__grid--base;

    height: 100%;

    // Media queries
    @media ( min-width: 768px ) {
        width: 100%;
        max-width: none;
        padding: 0 rem( 38 );
    }
}

#{$nav}--supporting {
    @extend #{$nav};

    @include position( fixed, rem( -100 ) null null 0 );
    @include transition( top 0.25s );

    background-color: getColor( white );

    // Supplementary classes
    &.is-active {
        top: 0;
    }
}


#{$nav}--supporting__inner {
    @extend #{$nav}__inner;
}


#{$logo} {
    @include size( auto 100% );
    @include display( inline-block );
    @include set( padding-top padding-bottom, rem( 10 ) );
}


#{$logo}__image {
    @include size( auto 100% );
    @include max-size( auto 100% );
    @include display( block );
}