// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
// Add any SASS variables that are specific to this file here.


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
* {
    box-sizing: border-box;
}

html,
body {
    @include set( margin padding, 0 );
}

body {
    color: getColor( grey );

    font-family: getFont( copy );
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
}

img {
    @include size( auto );
    @include max-size( 100% auto );
}

hr {
    @include set( margin-top margin-bottom, rem( 30 ) );

    border: none;
    border-top: rem( 1 ) solid getColor( grey );
}

a {
    color: getColor( black );
}